/* color */
$Mischka: #dcdfe6;
$Shuttle-Gray: #656b79;
$Dodger-Blue: #26a2ff;
$Web-Orange: #FFA500;
$White: #fff;
$Black: #000;
$Oslo-Gray: #8f949a;
$Red: #FF0000;
$Aqua-Haze: #F6F8FA;
$Ebony-Clay: #242F42;
$Burnt-Sienna: #F06E51;
$Cornflower-Blue: #8251F0;
$Malachite: #26F26E;
$Mercury: #E6E6E6;
$Gallery: #EDEDED;
$Tall-Poppy: #BF2C24;
$Hawkes-Blue: #C4D7FD;
$Catskill-White: #EBEEF5;
